<div class="container">
        
    <div class="post">
        
        <div class="header_post">
            <img src={{img}} alt="">
        </div>
        
        <div class="body_post">
            <div class="post_content">

                <h1>{{title}}</h1>
                <p>{{content}}</p>

                <div class="container_infos">
                    <div class="postedBy">
                        <span>author</span>
                        {{author}}
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <a href="https://youtu.be/Izm8SutcQv4" target="_blank"><footer>
    <div class="texto">
        <span>
            <i class="fab fa-youtube"></i>
             watch on youtube</span>
    </div>
</footer>
   </a> -->